*{
    margin: 0;
    padding: 0;
    font-family:arial;
}

header{
    background-image: url(449558a2282bcba0f8f219aceac9d443.jpg);  
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px; 
   

}
ul li{
    display: inline-block
}

ul li a{
    text-decoration: none;
    color: rgb(27, 26, 26);
    padding: 10px 30px;
    border: 1px solid #fff; 
    transition: 0.6s ease;

}
ul li a:hover{
    background-color: #fff;
    color: #000;

}

ul li.active a{
    background-color: #fff;
    color: #000;

}
.logo img{
    float: left;
    width:150px;
    height: 130px;
    margin-left: 40px;
    margin-top: 40px;
}


.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.title h1{
    color: rgb(95, 95, 95);
    font-size: 55px; 
}

.button{
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease; 
}

.btn:hover{
    background-color: #fff;
    color: #000;
}